<%- model_class = Cart -%>
<%- any_cart_item = @cart.cart_items.any? -%>
<div class='cart_details'>
  <div class='row'>
    <div class='col-md-12 cart_title'>
      <%="Cart: #{format_date(@cart.created_at)}"%>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag(url_for('cart.png'), class: local_assigns[:sideway] ? 'cart-xs' : 'img-thumbnail')%>
    </div>
    <div class='col-md-8'>
      <% if any_cart_item %>
        <ul>
          <%= render(@cart.cart_items) %>
          <li class='price total_line'>
            <%= I18n.t('views.carts.total')%>
            <span><%= number_to_currency(@cart.total_price) %></span>
          </li>
        </ul>
      <% else %>
        <p class="bg-warning empty-section"><%= I18n.t('views.carts.set_current') %></p>
      <% end %>
    </div>
  </div>

  <% if any_cart_item %>
    <div class='pull-right'>
      <%= link_to "Checkout", new_order_path, class: btn_class_for(:cart) %>
      <%= link_to I18n.t('views.carts.empty'), @cart, method: :delete, data: { confirm: I18n.t('views.nav.confirm_delete')}, class: btn_class_for(:cart) %>
    </div>
  <% end %>

  <div class='pull-right'>
    <%= render 'shared/form_actions', rsr_name: model_class.model_name, rsr_obj: @cart %>
  </div>

</div>
