<%- model_class = Cart -%>
<%- any_cart_item = cart.cart_items.any? -%>

<div class="row" id="<%= mark_current_cart(cart.id) %>">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-2 small-6 columns image">
          <%= image_tag(url_for('cart.png'), class: 'img-thumbnail') %>
        </div>

        <div class="large-6 small-6 columns">
          <strong><%="Cart: #{format_date(cart.created_at)}"%></strong>
          <% if any_cart_item %>
            <ul>
              <%= render(cart.cart_items) %>
              <li class='price total_line'>
                <%= I18n.t('views.carts.total')%>
                <span><%= number_to_currency(cart.total_price) %></span>
              </li>
            </ul>
          <% else %>
            <p class="bg-warning empty-section"><%= I18n.t('views.carts.empty') %></p>
          <% end %>
        </div>
        <div class="large-4 small-6 columns">
          <%= button_to_with_access I18n.t('views.carts.set_current'), cart, method: :put, class: 'tiny button' %>
          <%= button_to_with_access I18n.t('views.nav.delete'), cart, method: :delete, data: { confirm: I18n.t('views.nav.confirm_delete')}, class: 'tiny button' %>
        </div>
      </div>
    </div>
  </div>
</div>
