<%- model_class = Cart -%>
<%- any_cart_item = @cart.cart_items.any? -%>
  <div class='row'>
    <div class='col-xs-12'>
      <div class="center-img">
        <%= image_tag(url_for('cart.png'), class: 'cart-xs')%>
      </div>
      <% if any_cart_item %>
        <ul class='cart_details'>
          <%= render(@cart.cart_items) %>
          <li class='price total_line'>
            <%= I18n.t('views.carts.total')%>
            <span><%= number_to_currency(@cart.total_price) %></span>
          </li>
        </ul>
      <% else %>
        <p class="bg-warning empty-section"><%= I18n.t('views.carts.set_current') %></p>
      <% end %>
    </div>
  </div>

  <% if any_cart_item %>
    <div class='pull-right'>
      <%= link_to "Checkout", new_order_path, class: xs_btn_class_for(:cart) %>
      <%= link_to I18n.t('views.carts.empty'), @cart, method: :delete, data: { confirm: I18n.t('views.nav.confirm_delete')}, class: xs_btn_class_for(:cart) %>
    </div>
  <% end %>
