<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td class="list_description">
          <%="Cart: #{format_date(cart.created_at)}"%>
        </td>
        <td><%= link_to I18n.t('views.nav.show'), cart %></td>
        <td><%= link_to I18n.t('views.nav.edit'), edit_cart_path(cart) %></td>
        <td><%= link_to I18n.t('views.nav.delete'), cart, method: :delete, data: { confirm: I18n.t('views.nav.confirm_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  I18n.t('views.carts.new'), new_cart_path %>
