<p>
  <strong><%= I18n.t('views.cart_items.product')%></strong>
  <%= @cart_item.product %>
</p>

<p>
  <strong><%= I18n.t('views.cart_items.cart')%></strong>
  <%= @cart_item.cart %>
</p>

<%= link_to I18n.t('views.nav.edit'), edit_cart_item_path(@cart_item) %> |
<%= link_to I18n.t('views.nav.back'), cart_items_path %>
