<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="product_line <%= cycle('product_line_odd', 'product_line_even') %>">
        <td class='image'>
          <%= image_tag(product.image_url(:thumb), class: 'img-thumbnail') if product.image? %>
        </td>
        <td>
          <dl>
            <dt><%= link_to product.title, product_path(product) %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
        </td>
        <td>
          <span><%= number_to_currency(product.price) %></span>
        </td>
        <td>
          <%= link_to I18n.t('views.products.feed.title'), buyer_product_path(product, format: 'atom'), class: xs_btn_class_for(:default) %>
          <%= link_to_with_access I18n.t('views.nav.edit'),
                      edit_product_path(product), class: xs_btn_class_for(:default) %>
          <%= link_to_with_access I18n.t('views.nav.delete'), product_path(product),
                      method: :delete, :data => { :confirm => I18n.t('views.nav.confirm_delete') }, class: xs_btn_class_for(:destroy) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_with_access I18n.t('views.products.new'), new_product_path, class: btn_class_for(:new) %>
