<h1>Listing products</h1>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(product.image_url(:thumb), class: 'list_image') if product.image? %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
        </td>
        <td class="list_actions">
          <td><%= link_to I18n.t('views.nav.show'), product %></td>
          <td><%= link_to I18n.t('views.nav.edit'), edit_product_path(product) %></td>
          <td><%= link_to I18n.t('views.nav.delete'), product, method: :delete, data: { confirm: I18n.t('views.nav.confirm_delete') } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.products.new'), new_product_path %>
