<p>
  <strong><%= I18n.t('views.products.title') %></strong>
  <%= @product.title %>
</p>

<p>
  <strong><%= I18n.t('views.products.description') %></strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= I18n.t('views.products.image') %></strong>
  <%= image_tag(@product.image_url, :width => 100) if @product.image?%>
</p>

<p>
  <strong><%= I18n.t('views.products.price') %></strong>
  <%= @product.price %>
</p>

<%= link_to I18n.t('views.nav.edit'), edit_product_path(@product) %> |
<%= link_to I18n.t('views.nav.back'), products_path %>
