<div class="row">
  <div class="large-1 column">
    <img src="http://placehold.it/50x50&text=[img]">
  </div>

  <div class="large-9 columns">
    <h4><%= link_to I18n.t('views.sidebar.nav_1'), store_path %></h4>
    <h6 class="subheader show-for-small">Doors at 00:00pm</h6>
  </div>
</div><hr>

<div class="hide-for-small">
  <div class="row">
    <div class="large-1 column">
      <img src="http://placehold.it/50x50&text=[img]">
    </div>

    <div class="large-9 columns">
      <h5 class="subheader"><%= link_to I18n.t('views.sidebar.nav_2'), orders_path %></h5>
    </div>
  </div><hr>

  <div class="row">
    <div class="large-1 column">
      <img src="http://placehold.it/50x50&text=[img]">
    </div>

    <div class="large-9 columns">
      <h5 class="subheader"><%= link_to I18n.t('views.sidebar.nav_3'), carts_path %></h5>
    </div>
  </div><hr>

  <div class="row">
    <div class="large-1 column">
      <img src="http://placehold.it/50x50&text=[img]">
    </div>

    <div class="large-9 columns">
      <h5 class="subheader"><%= link_to I18n.t('views.sidebar.nav_4'), products_path %></h5>
    </div>
  </div>
</div>

<% if @cart.cart_items.any? %>
  <a href="#">
    <div id="cart" class="panel callout radius">
      <!-- <h6>Cart Items here</h6> -->
      <%= render 'carts/sidebar_cart' %>
    </div>
  </a>
<% end %>
