<div id="sidebar-wrapper">
  <div class="sidebar-nav">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h1><%= link_to I18n.t('views.sidebar.nav_1'), store_path %></h1>
      </li>
      <li>
        <%= link_to I18n.t('views.sidebar.nav_2'), orders_path %>
      </li>
      <li>
        <%= link_to I18n.t('views.sidebar.nav_3'), carts_path %>
      </li>
      <li>
        <%= link_to I18n.t('views.sidebar.nav_4'), products_path %>
      </li>
    </ul>
  </div>

  <div class="sidebar-nav nav-cart">
    <div id="cart">
      <% if @cart.cart_items.any? %>
        <%= render 'carts/sidebar_cart' %>
      <% end %>
    </div>
  </div>
</div>

