<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/sign_nav' %>

    <div class="row">    
      <div class="large-9 push-3 columns">
        <h3>Page Title <small>Page subtitle</small></h3>

        <p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami.</p>
        <%= yield %>
      </div>

      <% if user_signed_in? %>
        <div class="large-3 pull-9 columns">
          <%= render 'layouts/sidebar' %>
        </div>
      <% end %>

    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
