<!DOCTYPE html>
<html>
<head>
  <title>IShop - Online Store </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/sidebar' %>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <%= render 'layouts/sign_nav' %>
        </div>
        <div class='row'>
          <div class="col-lg-12">
            <%= render partial: "shared/flash_messages", flash: flash %>
            <div class="container <%= controller.controller_name %>">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
