<!DOCTYPE html>
<html>
<head>
  <title>IShop - Online Store </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <div id="logo">
      <%= image_tag("shop_logo.png") %>
      <span><%= @page_title || "{ iShop }" %> </span>
    </div>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li>
          <%= link_to 'Home', store_path %>
        </li>
        <li>
          <%= link_to 'Products', products_path %>
        </li>
        <li>
          <%= link_to 'Carts', carts_path %>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div id="main" class='<%= controller.controller_name %>'> 
      <%= yield %>
    </div>
  </div>
</body>
</html>
